<p class="powered-paragraph">Powered by OpenWeather</p>

<div class="current-weather-div">
  <p class="current-location-header">{{currentCity}}</p>
  <p class="current-time-header">{{currentTime}}</p>
  <p class="current-temperature-header">{{currentTemperature}}</p>
  <p class="current-feelsTemperature-header">Odczuwalne {{currentFeelsTemperature}}</p>
  <p class="current-line-breaker">----------</p>
  <p class="current-weather-header">{{currentWeather}}</p>
</div>

<div class="daily-weather-div">
  <div *ngFor="let element of dailyTemperature; index as i;" [ngClass]="{'daily-one-day-div-last' :  i == 7, 'daily-one-day-div' : i !=9}">
    <i [ngClass]="['wi wi-owm-' + dailyWeather[i]]"></i>
    <p>{{element}}</p>
    <p *ngIf='i == 0'>Dzisiaj</p>
    <p *ngIf='i != 0'>{{days[daysNumbers[i]]}}</p>
  </div>
</div>

